@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-1000 {
  perspective: 1000px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Phone Input Styles */
.PhoneInput {
  display: flex;
  align-items: center;
  width: %;
}

.PhoneInputCountry {
  position: absolute;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  z-index: 2;
}

.PhoneInputCountryIcon {
  width: 1.5rem;
  height: 1rem;
  border-radius: 2px;
  overflow: hidden;
}

.PhoneInputCountrySelect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}

.PhoneInputInput {
  padding-left: 3.5rem !important;
  width: 100%;
}

.PhoneInputCountrySelectArrow {
  margin-left: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  border-style: solid;
  border-width: 0.25rem 0.25rem 0 0;
  transform: rotate(135deg);
  border-color: #9ca3af;
}
